 <!-- PAGE-HEADER -->
	<div class="page-header">
		<div>
			<h1 class="page-title">Solicitud de creditos</h1>
		</div>
		@*<div class="ms-auto pageheader-btn">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0);">Tables</a></li>
				<li class="breadcrumb-item active" aria-current="page">Data Tables</li>
			</ol>
		</div>*@
	</div>
	<!-- PAGE-HEADER END -->

	<div class="row row-sm">
		<div class="col-lg-12">
			<div class="card">
				@*<div class="card-header border-bottom">
					<h3 class="card-title">File Export</h3>
				</div>*@
				<div class="card-body">
					<div class="table-responsive ">
						<table id="file-datatable" class="table table-bordered text-nowrap border-bottom  w-100">
							<thead>
								<tr>
									<th class="border-bottom-0">Id</th>
									<th class="border-bottom-0">Persona</th>
									<th class="border-bottom-0">Correo</th>
									<th class="border-bottom-0">Entidad pagaduria</th>
									<th class="border-bottom-0">Tipo nombramiento</th>
									<th class="border-bottom-0">Monto</th>
									<th class="border-bottom-0">Cuota</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var oSolicitud in Model){
									<tr>
										<td> @oSolicitud.id</td>
										<td> <a class="header-brand1" asp-controller="Documentacion" asp-action="Index" asp-route-id="@oSolicitud.id">@oSolicitud.persona.nombres  @oSolicitud.persona.apellidos</a></td>
										<td> @oSolicitud.persona.correoElectronico</td>
										<td> @oSolicitud.entidadPagaduria.Nombre</td>
										<td> @oSolicitud.tipoNombramiento.Nombre</td>
										<td> @oSolicitud.montoSolicitud</td>
										<td> @oSolicitud.cuotaEsperada</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
@{
}

@section scripts {
			<!-- INTERNAL SELECT2 JS -->
			<script src="~/assets/plugins/select2/select2.full.min.js"></script>
			
			<!-- DATA TABLE JS-->
			<script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
			<script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
			<script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
			<script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
			<script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
			<script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
			<script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
			<script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
			<script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
			<script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
			<script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
			<script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
			<script src="~/assets/js/table-data.js"></script>
}
