@model frontend.Models.CategoriasDTO
@{
    Layout = "_Layout3";
}
<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">Listado de Categorias</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Blogs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categoria</li>
            <li class="breadcrumb-item active" aria-current="page">Visualizar</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card cart">
            <div class="card-header border-bottom">
                <h3 class="card-title">Todas las categorias</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered border-bottom text-nowrap">
                        <thead>
                            <tr class="border-top">
                                <th class="w-15">Id</th>
                                <th class="w-5">Nombre</th>
                                <th class="w-5">Blogs asociados</th>
                                <th class="w-10">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ResultCategorias)
                            {
                                <tr>
                                    <td>
                                        <span class="badge bg-primary">@item.Id</span>
                                    </td>
                                    <td>
                                        @item.Nombre
                                    </td>
                                    <td>
                                        @item.cantidadBlogs
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary-light btn-square  br-50 m-1" data-bs-toggle="tooltip" title="" data-bs-original-title="Editar"><i class="fe fe-refresh-ccw"></i></a>
                                        @if (item.cantidadBlogs <= 0)
                                        {
                                            <a class="btn btn-danger-light btn-square  br-50 m-1" data-bs-toggle="tooltip" title="" data-bs-original-title="Eliminar" onclick="Delete('@item.Id', '@item.Nombre')"><i class="fe fe-trash fs-13"></i> </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <partial name="~/Views/Shared/_Paginador.cshtml" />
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="delete-item">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body text-center p-4">
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <i class="fe fe-x-circle fs-65 text-danger lh-1 mb-5 d-inline-block"></i>
                <h4 class="text-danger">Eliminar registro!</h4>
                <div id="message-delete">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="api-error-delete">
    <div class="modal-dialog modal-dialog-centered text-center " role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body text-center p-4">
                <i class="ion-wrench fs-65 text-primary lh-1 mb-5 d-inline-block"></i>
                <h4 class="text-success tx-semibold">Estamos trabajando para solucionar!</h4>
                <p class="text-muted">Nuestro sistema esta presentando cambios, intentalo de nuevo mas tarde.</p>
                <button aria-label="Close" class="btn btn-info pd-x-25" data-bs-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>
