@model frontend.Models.BlogDTO
@{
	Layout = "_Layoutlandingpage2";
}

<div class="hor-content main-content mt-0">
	<div class="side-app">
		<!-- CONTAINER -->
		<div class="main-container">
			<!-- DETALLES BLOG -->
			<div class="section pb-5 bg-white border-bottom" style="padding-bottom:50px; padding-top:120px;">
				<div class="px-5 px-md-0">
					<div class="row">
						<div class="col-xl-12">
							<div class="card">
								<div class="card-body">
									<div class="row">


										<div class="col-xl-8">
											<div class="">
												<div class="d-sm-flex d-block align-items-center">
													<div class="d-flex align-items-center mb-sm-0 mb-2">
														<div class="me-3">
															<img class="media-object rounded-circle thumb-sm" alt="64x64" src="~/assets/images/photos/11.jpg" width="50">
														</div>
														<h6 class="mb-0 text-muted ms-2 text-13 me-sm-0 me-2">Autor desconocido</h6>
													</div>
													<a href="#" class="d-f-ai-c mx-0 mb-sm-0 mb-2 mx-sm-4 mx-0 text-13"><span class="fe fe-calendar text-muted me-1 text-15"></span><span class="mt-0 mt-0 text-muted">@Model.Publicacion.ToString()</span></a>
													<a href="#" class="me-0 d-f-ai-c mb-sm-0 mb-2 text-13"><span class="fe fe-message-square text-muted me-1 text-15"></span><span class="mt-0 mt-0 text-muted">@Model.Comentarios.Count</span></a>
												</div>
												<div>
													<h3 class="font-weight-normal text-dark-light mt-4 mb-4">@Model.Titulo</h3>
												</div>
											</div>
											<div class="ps-relative p-1 bg-light br-5">
												<img src="@Model.Imagen" alt="" title="" class="cover-image br-5 ms-auto me-auto wp-100">
												<span class="badge bg-primary-gradient blog-label label5">Blogs Confival</span>
											</div>
											<div class=" mb-2 mt-5 content">
												<p class="text-muted text-14 justify-policy">@Model.Contenido</p>
											</div>
											<div class="mt-4 pt-5 border-top">
												<h3 class="card-title">Comentarios:</h3>
												@foreach(var item in Model.Comentarios)
												{
													<div class="media mb-4 overflow-visible">
														<div class="media-body overflow-visible">
															<div class="border mb-5 p-4 br-5 boton-edit">
																<h5 class="mt-0">Autor desconocido<span class="text-muted fs-12 ms-1">@item.FechaPublicacion</span></h5>
																<span><i class="fe fe-thumb-up text-danger"></i></span>
																<p class="font-13 text-muted">@item.Comentario</p>
																<span class="reply">
																	<a onclick="Reply(@item.Id.ToString())" class="btn-form-comment"><span class="badge badge-sm btn-info-light rounded-pill py-2 px-3 pointer"><i class="fe fe-corner-up-left me-1"></i>Responder</span></a>
																</span>
															</div>
															<div id="@item.Id.ToString()" class="cancel-form-comment"></div>

															@*@foreach(var subitem in item.SubComentarios)
															{
																<div>
																	<div class="media mb-4 overflow-visible boton-edit-2">
																		<div class="me-3">
																			<img class="media-object rounded-circle thumb-sm" alt="" title="" src="~/assets/images/photos/11.jpg">
																		</div>
																		<div class="media-body border p-4 overflow-visible br-5">
																			<h5 class="mt-0">Autor desconocido<span class="text-muted fs-12 mx-1 bg-normal-light">Reply to Autor desconocido </span><span class="text-muted fs-12 ms-1">@subitem.FechaPublicacion</span></h5>
																			<span><i class="fe fe-thumb-up text-danger"></i></span>
																			<p class="font-13 text-muted">
																				@subitem.Contenido
																			</p>
																			<span class="reply">
																				<a onclick="responderDos(@subitem.ComentarioId, @subitem.Id)" class="btn-form-comment"><span class="badge badge-sm btn-info-light rounded-pill py-2 px-3 pointer"><i class="fe fe-corner-up-left me-1"></i>Responder</span></a>
																			</span>
																		</div>
																	</div>
																	@{
																		var identificador = @subitem.ComentarioId.ToString() + "s" + @subitem.Id.ToString();
																	}
																	<div id="@identificador" class="cancel-form-comment"></div>
																</div>
															}*@
														</div>
													</div>
												}
												<div id="main-form-comentario">
													<div class="row row-xs form-group-wrapper">
														<h3 class="card-title">Realiza tu comentario sobre este blog:</h3>
														<div class="col-md-6">
															<div class="main-form-group my-1">
																<input class="form-control border-0" id="comentario-nombre" placeholder="Nombre" type="text">
																<label for="name" class="form-label mb-1">Nombre</label>
															</div>
															<div class="invalid-feedback" id="invalid-comentario-nombre">El campo nombre es requerido</div>
														</div>
														<div class="col-md-6">
															<div class="main-form-group my-1">
																<input class="form-control border-0" id="comentario-profesion" placeholder="Profesión" type="text">
																<label for="mail" class="form-label mb-1">Profesión</label>
															</div>
															<div class="invalid-feedback" id="invalid-comentario-profesion">El campo profesion es requerido</div>
														</div>
														<div class="col-md-12 mt-2">
															<div class="main-form-group">
																<textarea name="message" id="comentario-comentario" class="form-control text-area border-0" placeholder="Comentario" rows="3"></textarea>
																<label for="message" class="form-label mb-1">Comentario</label>
															</div>
															<div class="invalid-feedback" id="invalid-comentario-comentario">El campo comentario es requerido</div>
														</div>
														<div class="col-md-12 my-2">
															<button class="btn btn-primary text-white float-end" onclick="SendComment(@Model.Id)">Enviar</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-4">
											<div class="card-confival-blogs overflow-hidden border br-5">
												<div class="card-header border-bottom">
													<h3 class="card-title">Acerca  del autor</h3>
												</div>
												<div class="card-body">
													<div class="text-center">
														<img class="card-img-top w-100 w-100" src="~/assets/images/photos/11.jpg" alt="" title="">
														<div class="br-5 pt-3 text-justify">
															<p class="m-0 text-muted">
																una descripcion del autor
															</p>
														</div>
													</div>
												</div>
											</div>
											<div class="card-confival-blogs border overflow-hidden">
												<div class="card-header border-bottom">
													<h3 class="card-title">Categorias del Blog</h3>
												</div>
												<div class="card-body">
													<div>
														<div class="tags">
															@foreach (var item in Model.Categoriass)
															{
																<a onclick="TopCategoriaB('@item.Id', '@item.Nombre')" class="tag">@item.Nombre</a>
															}
														</div>
													</div>
												</div>
											</div>
											<div id="blogs-categoria" class="hide-info">
												<div class="card-confival-blogs border overflow-hidden">' 
													<div class="card-header border-bottom">
														<h3 class="card-title">Publicaciones similares</h3>
													</div>
													<div class="card-body">
														<div class="item-list" id="list-blogs">

														</div>
													</div>
												</div>
											</div>
											<div class="card-confival-blogs overflow-hidden border">
												<div class="card-header border-bottom">
													<h4 class="card-title"">Galeria</h4>
												</div>
												<div class="card-body">
													<div class="text-center demo-gallery">
														<div class="mt-2">
															<ul id="lightgallery" class="list-unstyled row row-sm">
																@foreach (var item in Model.Galeria)
																{
																	<li class="col-sm-6 col-lg-4" onclick="SeeGallery('@Model.Id', '@Model.Titulo')">
																			<img class="img-responsive br-5 w-100" height="90" src="@item">
																	</li>
																}
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<partial name="~/Views/Shared/_Footer1.cshtml" />


	<div class="modal fade"  id="modal-gallery" tabindex="-1" role="dialog" style="padding-top: 120px;">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header" id="modal-header-galeria">
					<h5 class="modal-title" >Modal title</h5>
					<button  class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body" id="modal-body-gallery">
					<h4>Galeria de imagenes</h4>
					<div class="card-body h-100">
                        <div id="carousel-indicators" class="carousel slide responsive-indicators-banners" data-bs-ride="carousel">
                            <ol class="carousel-indicators carousel-indicators" id="ol-indicators">
                            </ol>
                            <div class="carousel-inner" id="src-imagen">
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

</div>




@section scripts {

	<script src="~/assets/js/WebConfival/Blogs/BlogId.js"></script>
	<script src="~/assets/js/WebConfival/Blogs/Blogs.js"></script>


	<!--Internal Fancy uploader js-->
	<script src="~/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
	<script src="~/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
	<script src="~/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
	<script src="~/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
	<script src="~/assets/plugins/fancyuploder/fancy-uploader.js"></script>

	<!-- SELECT2 JS -->
	<script src="~/assets/plugins/select2/select2.full.min.js"></script>

	<!-- BLOG-EDIT JS-->
	<script src="~/assets/js/blog-edit.js"></script>

	<!-- FORM ELEMENTADVANCED JS -->
	<script src="~/assets/js/formelementadvnced.js"></script>

	<!-- TASK EDIT JS-->
	@*<script src="~/assets/js/task-create.js"></script>*@

	<!-- INTERNAL Summernote Editor js -->
	<script src="~/assets/plugins/summernote-editor/summernote1.js"></script>
	<script src="~/assets/js/summernote.js"></script>

	<!--Internal Fileuploads js-->
	<script src="~/assets/plugins/fileuploads/js/fileupload.js"></script>
	<script src="~/assets/plugins/fileuploads/js/file-upload.js"></script>

	<!-- INTERNAl JQUERY.STEPS JS -->
	<script src="~/assets/plugins/jquery-steps/jquery.steps.min.js"></script>
	<script src="~/assets/plugins/parsleyjs/parsley.min.js"></script>

	<!-- INTERNAL ACCORDION-WIZARD-FORM JS-->
	<script src="~/assets/plugins/accordion-Wizard-Form/jquery.accordion-wizard.min.js"></script>
	<script src="~/assets/js/form-wizard.js"></script>


}


