@model confinancia.Models.BlogDTO
@{
    //View = "Blogs Confival";
}


<!-- PAGE-HEADER -->
<div class="page-header">
	<div>
		<h1 class="page-title">Blog Confival</h1>
	</div>
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0);">Blogs Confial</a></li>
			<li class="breadcrumb-item active" aria-current="page">@Model.Titulo</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-xl-8">
						<div class="">
							<div class="d-sm-flex d-block align-items-center">
								<div class="d-flex align-items-center mb-sm-0 mb-2">
									<div class="avatar-list">
										<div class="avatar avatar-md rounded-circle">
											<img src="@Model.ImgAutor" class="rounded-circle">
										</div>
									</div>
									<h6 class="mb-0 text-muted ms-2 text-13 me-sm-0 me-2">@Model.Autor</h6>
								</div>
								<a href="#" class="d-f-ai-c mx-0 mb-sm-0 mb-2 mx-sm-4 mx-0 text-13"><span class="fe fe-calendar text-muted me-1 text-15"></span><span class="mt-0 mt-0 text-muted">@Model.FechaPublicacion.ToString()</span></a>
								<a href="#" class="me-0 d-f-ai-c mb-sm-0 mb-2 text-13"><span class="fe fe-message-square text-muted me-1 text-15"></span><span class="mt-0 mt-0 text-muted">@Model.Comentarios.Count</span></a>
							</div>
							<div>
								<h3 class="font-weight-normal text-dark-light mt-4 mb-4">@Model.Titulo</h3>
							</div>
						</div>
						<div class="ps-relative p-1 bg-light br-5">
							<img src="@Model.ImgBlog" alt="img" class="cover-image br-5 ms-auto me-auto wp-100">
							<span class="badge bg-primary-gradient blog-label label5">Blogs Confival</span>
						</div>
						<div class=" mb-2 mt-5 content">
							<p class="text-muted text-14">@Model.IntroUno</p>
							<p class="text-muted text-14">@Model.IntroDos</p>
							<p class="text-muted text-14">@Model.Contenido</p>
						</div>
						<div class=" mt-2 pt-2 pb-3 border-top footer-container-main blog-footer">
							<div class="footer border-top-0 p-0 icons-bg d-sm-flex">
								<div class="social m-0">
									<ul class="text-center">
										<li>
											<a class="social-icon" href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a class="social-icon" href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a class="social-icon" href="javascript:void(0)"><i class="fa fa-rss"></i></a>
										</li>
										<li>
											<a class="social-icon" href="javascript:void(0)"><i class="fa fa-youtube"></i></a>
										</li>
										<li>
											<a class="social-icon" href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
										</li>
										<li>
											<a class="social-icon" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="mt-4 pt-5 border-top">
							<h3 class="card-title">Comments:</h3>
							@foreach(var item in Model.Comentarios)
							{
								<div class="media mb-4 overflow-visible">
									<div class="me-3">
										<img class="media-object rounded-circle thumb-sm" alt="64x64" src="@item.ImgAutor">
									</div>
									<div class="media-body overflow-visible">
										<div class="border mb-5 p-4 br-5">
											@Html.HiddenFor(m => m.Autor, new { Value = item.Autor.ToString() })
											<h5 class="mt-0">@item.Autor<span class="text-muted fs-12 ms-1">@item.FechaPublicacion</span></h5>
											<span><i class="fe fe-thumb-up text-danger"></i></span>
											<p class="font-13 text-muted">@item.Nota</p>
											<span class="reply">
												<a onclick="responder(@item.Id.ToString())"><span class="badge badge-sm btn-info-light rounded-pill py-2 px-3 pointer"><i class="fe fe-corner-up-left me-1"></i>Responder</span></a>
											</span>
										</div>
										<div id="@item.Id.ToString()"></div>

										@foreach(var subitem in item.SubComentarios)
										{
											<div class="media mb-4 overflow-visible">
												<div class="me-3">
													<img class="media-object rounded-circle thumb-sm" alt="64x64" src="@subitem.ImgAutor">
												</div>
												<div class="media-body border p-4 overflow-visible br-5">
													<h5 class="mt-0">@subitem.Autor<span class="text-muted fs-12 mx-1 bg-normal-light">Reply to @item.Autor</span><span class="text-muted fs-12 ms-1">@subitem.FechaPublicacion</span></h5>
													<span><i class="fe fe-thumb-up text-danger"></i></span>
													<p class="font-13 text-muted">
														@subitem.Nota
													</p>
													<span class="reply">
														<a onclick="responder(@item.Id.ToString())"><span class="badge badge-sm btn-info-light rounded-pill py-2 px-3 pointer"><i class="fe fe-corner-up-left me-1"></i>Reply</span></a>
													</span>
												</div>
											</div>
											<div id="@item.Id.ToString() + @subitem.Id.ToString()"></div>
										}
									</div>
								</div>
							}
							<div id="main-form-comentario">
								<div class="row row-xs form-group-wrapper">
									<h3 class="card-title">Realiza tu comentario sobre este blog:</h3>
									<div class="col-md-6">
										<div class="main-form-group my-1">
											<input class="form-control border-0" id="nombre" placeholder="Nombre" type="text">
											<label for="name" class="form-label mb-1">Nombre</label>
										</div>
										<div class="invalid-feedback" id="invalid-nombre">El campo nombre es requerido</div>
									</div>
									<div class="col-md-6">
										<div class="main-form-group my-1">
											<input class="form-control border-0" id="profesion" placeholder="Profesión" type="text">
											<label for="mail" class="form-label mb-1">Profesión</label>
										</div>
										<div class="invalid-feedback" id="invalid-profesion">El campo profesion es requerido</div>
									</div>
									<div class="col-md-12 mt-2">
										<div class="main-form-group">
											<textarea name="message" id="comentario" class="form-control text-area border-0" placeholder="Comentario" rows="3"></textarea>
											<label for="message" class="form-label mb-1">Comentario</label>
										</div>
										<div class="invalid-feedback" id="invalid-comentario">El campo comentario es requerido</div>
									</div>
									<div class="col-md-12 my-2">
										<button class="btn btn-primary text-white float-end" onclick="EnviarComentario()">Enviar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



@section scripts {
	<script src="../assets/js/form-comentario.js"></script>
}



